@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

body {
    margin: 0;
    font-family: 'SUIT', sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}